In [1]:
import pandas as pd
import numpy as np

In [7]:
dict = {
    'col1': [1,2,3,4, np.nan],
    'col2': [5, np.nan, 6, 7, 8,],
    'col3': ['a', 'b', 'c', 'd', None]
}

In [8]:
dict

{'col1': [1, 2, 3, 4, nan],
 'col2': [5, nan, 6, 7, 8],
 'col3': ['a', 'b', 'c', 'd', None]}

In [10]:
df = pd.DataFrame(dict)
df

   col1  col2  col3
0   1.0   5.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   4.0   7.0     d
4   NaN   8.0  None

In [11]:
# Cuando encuentra que un valor es nulo lo define con True
df.isnull()

    col1   col2   col3
0  False  False  False
1  False   True  False
2  False  False  False
3  False  False  False
4   True  False   True

In [12]:
# Si hay valores nulos los identifica con un 1
df.isnull()*1

   col1  col2  col3
0     0     0     0
1     0     1     0
2     0     0     0
3     0     0     0
4     1     0     1

In [13]:
# No solo voy a identificar los valores nulos, sino que voy a ponerles un nombre
df.fillna('Missing')

      col1     col2     col3
0      1.0      5.0        a
1      2.0  Missing        b
2      3.0      6.0        c
3      4.0      7.0        d
4  Missing      8.0  Missing

In [18]:
# También les puedo sacar la media, pero no cuando tengo palabras
df.mean()

TypeError: can only concatenate str (not "int") to str

In [20]:
# Hacer la interpoblación de una serire, asume que número debería ir. Solo si los datos tienen una serie y estructura exacta 
df.interpolate()

/var/folders/ny/nr6bx0md18z69n341sp017h40000gn/T/ipykernel_74707/1249506051.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate()

   col1  col2  col3
0   1.0   5.0     a
1   2.0   5.5     b
2   3.0   6.0     c
3   4.0   7.0     d
4   4.0   8.0  None

In [21]:
df.dropna()

   col1  col2 col3
0   1.0   5.0    a
2   3.0   6.0    c
3   4.0   7.0    d