In [2]:
import pandas as pd

In [11]:
col = pd.Series(['Vargas', 'James', 'Lucho Diaz'],
                index=[1, 10, 7])
col

1         Vargas
10         James
7     Lucho Diaz
dtype: object

In [5]:
# Si yo no asigno las el index, la función lo hará automaticamente empezando en 0
psg = pd.Series(['Navas', 'Mbape', 'Neymar', 'Messi'])
psg

0     Navas
1     Mbape
2    Neymar
3     Messi
dtype: object

In [7]:
dict = {1: 'Navas', 7: 'Mbape', 30: 'Neymar', 10: 'Messi'}
dict

{1: 'Navas', 7: 'Mbape', 30: 'Neymar', 10: 'Messi'}

In [8]:
pd.Series(dict)

1      Navas
7      Mbape
30    Neymar
10     Messi
dtype: object

In [9]:
psg[1]

'Mbape'

In [12]:
col[1]

'Vargas'

In [13]:
col[0:2]

1     Vargas
10     James
dtype: object

In [23]:
jugadores = {
    'Nombre': ['Navas', 'Mbape', 'Neymar', 'Messi'],
    'Estatura': [1.85, 1.75, 1.73, 1.70],
    'Goles': [1000, 0, 200, 10000000]
}
jugadores

{'Nombre': ['Navas', 'Mbape', 'Neymar', 'Messi'],
 'Estatura': [1.85, 1.75, 1.73, 1.7],
 'Goles': [1000, 0, 200, 10000000]}

In [15]:
table = pd.DataFrame(jugadores, index=[1,7,30,10])
table

    Nombre  Estatura     Goles
1    Navas      1.85      1000
7    Mbape      1.75         0
30  Neymar      1.73       200
10   Messi      1.70  10000000

In [16]:
table = pd.DataFrame(jugadores)
table

   Nombre  Estatura     Goles
0   Navas      1.85      1000
1   Mbape      1.75         0
2  Neymar      1.73       200
3   Messi      1.70  10000000

In [17]:
table.columns

Index(['Nombre', 'Estatura', 'Goles'], dtype='object')

In [18]:
table.index

RangeIndex(start=0, stop=4, step=1)

In [26]:
granada = {
    'Jugador':['Luis Suarez','Jorge Molina', 'Antonio Puertas', 'German Sanchez', 'Luis Milla', 'Lucas Manuel Arantes Maximiano'],
    'PosiciÃ³n':['Delantero', 'Delantero', 'Centrocampista', 'Defensa', 'Centrocampista', 'Portero'],
    'Numero':[9, 23, 10, 6, 5, 1],
    'Altura':[185.0, 187.0, 185.0, 187.0, 175.0, 190.0],
    'Goles':[7, 7, 5, 2, 2, 0]
}
granada

{'Jugador': ['Luis Suarez',
  'Jorge Molina',
  'Antonio Puertas',
  'German Sanchez',
  'Luis Milla',
  'Lucas Manuel Arantes Maximiano'],
 'PosiciÃ³n': ['Delantero',
  'Delantero',
  'Centrocampista',
  'Defensa',
  'Centrocampista',
  'Portero'],
 'Numero': [9, 23, 10, 6, 5, 1],
 'Altura': [185.0, 187.0, 185.0, 187.0, 175.0, 190.0],
 'Goles': [7, 7, 5, 2, 2, 0]}

In [27]:
tabla = pd.DataFrame(granada)
tabla

                          Jugador       PosiciÃ³n  Numero  Altura  Goles
0                     Luis Suarez       Delantero       9   185.0      7
1                    Jorge Molina       Delantero      23   187.0      7
2                 Antonio Puertas  Centrocampista      10   185.0      5
3                  German Sanchez         Defensa       6   187.0      2
4                      Luis Milla  Centrocampista       5   175.0      2
5  Lucas Manuel Arantes Maximiano         Portero       1   190.0      0

In [28]:
tabla.columns

Index(['Jugador', 'PosiciÃ³n', 'Numero', 'Altura', 'Goles'], dtype='object')

In [29]:
tabla.index

RangeIndex(start=0, stop=6, step=1)